body {
	background-color: gray;
	color: white;
}

a {
	color: #1985A1;
}

#first-row {
	background-color: red;
	padding: 20px;
}

#first-row h1 {
	background-color: yellow;
	float: left;
	font-size: 300%;
	font-style: bold;
	width: 50%;
}

#first-row ul {
	background-color: purple;
	float: right;
	width: 50%;
}
#first-row li {
	display: inline;
	padding: 20px;
}

#second-row {
	background-color: blue;
}
.content-here {
	margin: 0 auto;
	padding: 50px;
	width: 80%;
}
#content-here-left {
	background-color: green;
	float: left;
	width: 60%;
}
#content-here-right {
	background-color: orange;
	float: right;
	width: 30%;
}

#third-row {
	clear: both;
	text-align: center;
}